<div class="header">
  <h1>Brand Assets</h1>
  <h2>How to use them and what they are?</h2>
</div>

<div class="content">
  <h2 class="content-subhead">Colors</h2>  
  
  <p>Along with the core logo, the core brand color palette is a key element of the ILAO brand. Applying the core logo in the core brand palette consistently is essential to executing our visual brand effectively<p>

    <h3>ILAO Blue</h3>
    <div class="pure-u-1 ilao-blue" >
      <b>RGB</b>: 4,160,217 <br>
      <b>HEX</b>: #04a0d9 <br>
      <b>CMYK</b>: 70,20,1,0 <br>
      <b>Pantone</b>: Solid Uncoated 2191 U      
    </div>    
    <button class="pure-button-primary pure-button color-btn" data-clipboard-text="04a0d9">Copy ILAO Blue</button>

    <h3>ILAO Grey</h3>
    <div class="pure-u-1 ilao-grey" >
      <b>RGB</b>: 121,121,121 <br>
      <b>HEX</b>: #787878 <br>
      <b>CMYK</b>: 54,46,45,11 <br>
      <b>Pantone</b>: Solid Uncoated 425 U      
    </div>    
    <button class="pure-button-primary pure-button color-btn" data-clipboard-text="797979">Copy ILAO Grey</button>
  </p>  

  <div class="alert-box pure-u-1">
    For more detail information on colors, go to <b>Design Components > Colors </b>.
  </div>
</div>    
