<div class="header">
  <h1>Numbers</h1>
  <h2>This is how one should go about it</h2>
</div>

<div class="content">
  <h2 class="content-subhead">When to spell out, when to use numerals</h2>
  <p>Spell out 'zero' and 'one'; use numbers. Use commas in numbers of 4 or more digits. </p>
</div>

<div class="content">
  <h2 class="content-subhead">Currency</h2>
  <p>Use dollar sign. Only use decimals if there are cents (not ".00")</p>
</div>

<div class="content">
  <h2 class="content-subhead">Phone number format</h2>
  <p>(xxx) xxx-xxxx; tech will standardize this to display and accommodate for extensions</p>
</div>

<div class="content">
  <h2 class="content-subhead">Dates: what format should these be in?</h2>
  <p>Spell out month, xx day, xxxx year (American English); xx day, month, year (non-English)</p>
  <h3>Do</h3>
  <p>January 1, 2016</p>
  <h3 class="donts">Don't</h3>
  <p>1/1/2016 or Jan. 1, 2016</p>
</div>
