<div class="header">
  <h1>Linking</h1>
  <h2>This is how one should go about it</h2>
</div>

<div class="content">
  <h2 class="content-subhead">Format for linking to external resources within text (not as separate content)</h2>
  <p>Open the link in the same window. Do not open it in a new window. Use a hyperlink on the words that describe the content (see "Hyperlinking in General" below)</p>
</div>
<div class="content">
  <h2 class="content-subhead">Cross-references to other content within content</h2>
  <p>Use a hyperlink on the words that describe the content (see "Hyperlinking in General" below)</p>

  <h3>Do</h3>
  <p>You must be under the <a href="#">Federal Poverty Guidelines</a></p>

  <h3 class="donts">Don't</h3>
  <p>You must be under the Federal Poverty Guidelines, which are <a href="#">here.</a></p>
</div>
<div class="content">
  <h2 class="content-subhead">External links</h2>
  <p>External links should only be used to send users to forms or resources on pages that are run by government agencies or reputable non-profits.  Do not link users to private attorneys' websites, political websites, or generic informational websites (like ask.com or wikipedia).  For most external links, the user will first be brought to an "exit page" that tells them they are leaving our site and tells them what information they are being sent to.  This includes forms that we do not host on our own website.  The exception to this rule is if there is a link within a body of an article, and the text of the article makes clear to the person that the link is external and tells the user what information they will find (thus making the "exit page" duplicative and unnecessary)</p>
</div>

<div class="content">
  <h2 class="content-subhead">Links to legal authority</h2>
  <p>When linking to Illinois statutes, link to the ILGA website's version.  Bring people to the Article level, or Title level if Article is unavailable.  For federal statutes, link them to the  LII website https://www.law.cornell.edu/.  For caselaw, link them to Google Scholar.</p>
</div>