<div class="header">
  <h1>Abbreviations</h1>
  <h2>This is how one should go about it</h2>
</div>

<div class="content">
  <h2 class="content-subhead">United States abbreviation</h2>
  <p>Abbreviate United States as "US", with no spaces or periods. </p>
  <h3>Do</h3>
  <p>US</p>
  <h3 class="donts">Don't</h3>
  <p>U.S., U. S. </p>
</div>
<div class="content">
  <h2 class="content-subhead">ID</h2>
  <p>Use ID</p>
  <h3>Do</h3>
  <p>ID</p>
  <h3 class="donts">Don't</h3>
  <p>I.D.. i.d.</p>
</div>
<div class="content">
  <h2 class="content-subhead">Using acronyms</h2>
  <p>Spell out first instance of the acronym in each individual article; do this by writing, not by using parentheses. Some acronyms are better known than their full, formal names (SSI, for example)</p>
  <h3>Do</h3>
  <p>Foodstamps are also called SNAP. SNAP stands for Supplemental Nutrition Assistance Program.</p>
  <h3 class="donts">Don't</h3>
  <p>Foodstamps, or SNAP (Supplemental Nutrition Assistance Program), are available to people who meet certain eligibility requirements. </p>
</div>