<div class="header">
  <h1>Voice &amp; Tonee</h1>
  <h2>What is it?</h2>
</div>

<div class="content">
  <p>Writing for Illinois Legal Aid Online, you are writing for a diverse audience that serves many different types of people and organizations. They include:
  <ul>
    <li>People with legal problems</li>
    <li>Pro bono legal professionals</li>
    <li>Legal aid advocates</li>
    <li>Illinois courts</li>
  </ul> <br>
    Some content speaks to all audiences while others speak to only one or two. ILAO’s voice and tone adapts to these audiences. This guide will show you how. 
  </p>
  <h2 class="content-subhead">Voice</h2>  
  
  <div class="pure-g">
    <div class="pure-u-1">
      <img src="img/voice/1.png" alt="image-size" class="pure-img">
    </div>
  </div>    
  
  <h3>Our volume</h3>
  <p>When we speak, we speak as if we are holding a conversation. We’re not trying to hide trade secrets or not wake anyone up. Nor are we screaming at anyone. We’re holding a conversation between friends.</p>

  <h3>Our Energy</h3>
  <p>We’re awake and alert like we had a solid night’s sleep. When people come to us they know we’re here to do business and respect their time by being alert and responsive. We don’t like we’re on vacation yet nor are we in their face screaming. </p>

  <h3>Dialect</h3>
  <p>The words we use says a lot. We want to make our legible to as many people as possible. We don’t speak in slang or innuendo. Nor do we attempt to use complex sentence structure and big words to make us look smart. We speak at a level that anyone can understand us, nor matter their education level.</p>

  <h3>Attitude</h3>
  <p>We’re not here to ruffle any feathers. We’re here to present information to as many people as we possible can. We’re not trying to change any opinions nor are we trying to offend. We’re a neutral party just trying to share information.</p>

  <h2 class="content-subhead">Legal Information 1 (Easy Form)</h2>
  <p>Many people have difficulty filling out legal forms. They are lengthy, confusing, and easy to make mistakes. Filling out forms incorrectly is one of the biggest frustrations for users as courts will not respond to them other than saying, “Your forms are wrong”.</p>

  <h3>User feelings:</h3>
  <p>Frustration <br>
    Confusion <br>
    Worried <br>
  </p>

  <h3>Tips:</h3>
  <p>
    <ul>
      <li>Assume readers are not lawyers. Using everyday language will help them understand the content.</li>
      <li>Users, both legal professionals and everyday civilians, do not have a lot of time. Use direct and concise language to get points across.</li>
      <li>Present all information needed up front to the user. </li>
    </ul>
  </p>

  <h4>User:</h4>
  <p>I don’t know what I need to qualify for a program. </p>

  <h4 class="donts">ILAO:</h4>
  <p>To use this program, you must be filing a Parenting Plan along with a divorce case, petition for allocation of parental responsibilities, or other family law case.</p>

  <h4>User:</h4>
  <p>I know I need to fill out this form but what outside documents do I need? </p>

  <h4 class="donts">ILAO:</h4>
  <p>To complete this program, you will need to know the reason why you are seeking to terminate the tenant's lease (unpaid rent, other lease violations, or ending a month-to-month lease).</p>

  <h4>User:</h4>
  <p>The court says I need to produce specific documents. How do I know I’m getting what I need?</p>

  <h4 class="donts">ILAO:</h4>
  <p>This program prepares the following forms. The forms you get will depend on your answers. <br>
    <ul>
    <li>How to File an IDHR Employment Discrimination Complaint</li>
    <li>IDHR Employment Complaint Information Sheet</li>
    <li>Addendum</li>
    </ul>
  </p>

</div>    

<div class="content">
  <h2 class="content-subhead">Legal Information (Lawyer Manual)</h2>
  <p>Non-lawyers and lawyers at times require laws to be broken down into manageable chunks for easier legibility. While the needs and understanding of both groups vary, overall, their desires are the same. Your role is to to not only write to non-lawyers so the content is readable but also write to the lawyer so they get enough context. This allows both to explore further if necessary. </p>

  <h3>User feelings:</h3>
  <p>Inqusitive <br>
    Independent <br>
    Busy
  </p>

  <h3 class="donts">Tips:</h3>
  <ul>
    <li>Only use legal jargon when it is absolutely necessary.</li>
    <li>Write seriously. Legal content is very important and does not have time for jokes.</li>
    <li>Provide links to outside resources if need be. A lawyer manual is only a summary but there may relevant outside resources that can provide more context if needed.</li>
  </ul>

  <h4>User:</h4>
  <p>I am going to self-represent myself in court yet I do not fully understand the law.  </p>

  <h4 class="donts">ILAO:</h4>
  <p>HFS may place a lien against real property for medical assistance paid out at any time for a recipient who has been institutionalized for at least 120 days, and for all AABD cash benefits. The 120-day period starts with the first day the client goes into a medical institution. When a client is admitted to a long term care facility from a hospital, the 120-day count begins with the date of admission to the hospital. A move from the hospital to a long term care facility, or from a long term care facility to a hospital, does not interrupt the 120-day count. If the client is released from the medical institution to the community, the 120-day count starts over.</p>

  <h4>User:</h4>
  <p>Where can I find the full written law?</p>

  <h4 class="donts">ILAO:</h4>
  <p>
    <ul>
      <li>Uniform Commercial Code (UCC), Article 9: 810 ILCS 5/9-501 et. seq.</li>
      <li>Motor Vehicle Retail Installment Sales Act (MVRISA): 815 ILCS 375/20</li>
      <li>Rules of Secretary of State governing repossession titles and procedures: 92 Ill.Admin.Code §1010.160</li>
    </ul>
  </p>

  <h4>User:</h4>
  <p>Are there any forms I need in lieu of going to court?</p>

  <h4 class="donts">ILAO:</h4>
  <p>Filing an answer and appearance requires payment of a “filing fee.” However, the defendant may request the fee be waived by completing an “Application for Waiver of Court Fees."</p>

  <h4>User:</h4>
  <p>I’m curious about legal matters and like to read summaries of laws and regulations.</p>

  <h4 class="donts">ILAO:</h4>
  <p>A “default” refers to a failure to abide by the terms of the mortgage or loan documents. Although default may occur in several ways, default usually happens when a borrower fails to make a required monthly mortgage payment. The specific reason for the alleged default should be identified in the complaint to foreclose i.e. the date of the first missed payment. </p>


</div>

<div class="content">
  <h2 class="content-subhead">Legal Information (Articles)</h2>
  <p>Some readers just want an overview of general legal concerns like “getting a divorce” or “breaking a lease”. By providing a simple overview and links to forms or more detailed articles, readers can find answers they need as quick as possible.
  </p>

  <h3>User feelings:</h3>
  <p>Interest <br>
    Concerned <br>
    Undecided
  </p>

  <h3 class="donts">Tips:</h3>
  <ul>
    <li>Write at a 6th grade level. Polysyllabic words like “responsibilities” and “visitation” are not accessible to everyone.</li>
    <li>Be prompt. Readers need answers quickly, so short and concise sentences work best.</li>
    <li>Use subheadings to make the page easier and faster to read.</li>
    <li>Prioritize bullets over long paragraphs.</li>
    <li>Keep pages about individual topics only. Link to other pages that contain relevant information and forms if needed.</li>
  </ul>

  <h4>User:</h4>
  <p>An “order of protection” was filed against me and I have no idea what that is?</p>

  <h4 class="donts">ILAO:</h4>
  <p>To get an Order of Protection, a person must file court papers asking for one. This includes filing a Petition for an Order of Protection. In their petition, the person must explain to a judge why they want an Order of Protection against you. <br>
  Learn more about the 3 types of Orders of Protection.
  </p>

  <h4>User:</h4>
  <p>I don’t know how to act around the police regarding identification?</p>

  <h4 class="donts">ILAO:</h4>
  <p>
    You can be required to identify yourself only if:
    <ul>
      <li>You are in a public place;</li>
      <li>The police think you part of a crime; and</li>
      <li>The police tell you that they are police.</li>
    </ul>
  </p>


</div>

<div class="content">
  <h2 class="content-subhead">Reading Level</h2>
  <p>The target audience for Illinois Legal Aid Online varies between those who do and do not understand legal matters. Even for those who do, a quick synopsis at first supersedes a long drawn out analysis. Writing at a 6th-8th grade level will allow anyone to read and understand ILAO’s content. <br>

A way to measure this by using a Flesch-Kincaid legibility test. It’ll give you a grade-level legibility score which you can use to determine at what level your content can be read clearly and without confusion. If there are concerns about writing at this level please contact the Content Director or UX team for assistance.
  </p>

  <h3>User feelings:</h3>
  <p>Angry <br>
    Embarrassed <br>
    Befuddled
  </p>

  <h3 class="donts">Tips:</h3>
  <ul>    
    <li>Reduce the amount of polysyllabic words. </li>
    <li>Keep sentences short and concise.</li>
    <li>Avoid acronyms and industry terms to reduce confusion.</li>
    <li>Describe legal matters without using jargon. </li>
    <li>Write conversationally in an active voice.</li>
  </ul>

  <h4>User:</h4>
  <p>I don’t understand anything regarding legal matters. Everything is too complex.</p>

  <h4 class="donts">ILAO:</h4>
  <p>A summons is an official notice of a lawsuit. It is given to the person being sued. If you sue someone, they need to know about it. This way, they can come to court and fight the lawsuit.
  </p>


</div>


<div class="content">
  <h2 class="content-subhead">Events</h2>
  <p>Fundraising benefits, seminars, social gatherings, and workshops are just a few of the events posted on ILAO’s calendar. These events help spread ILAO’s message, instruct those in the legal community about legal changes or additions, or give lawyers a place to socialize with their peers. 
  </p>

  <h3>User feelings:</h3>
  <p>Charitable <br>
    Anticipation <br>
    Curiosity <br>
    Interest
  </p>

  <h3 class="donts">Tips:</h3>
  <ul>    
    <li>Always include event details such as “Who should attend” and the type of event.</li>
    <li>Event information such as “Host”, “When”, and “Where” are also mandatory.</li>
    <li>Same goes for description. People won’t go to your event if they do not know what it is about.</li>
    <li>Do not repeat information. Event details and information have their own area and do not need to be placed in the description.</li>
  </ul>

  <h4>User:</h4>
  <p>Is this event for me?</p>

  <h4 class="donts">ILAO:</h4>
  <p>Who should attend
  <ul>
    <li>Legal community</li>
    <li>Legal aid community</li>
    <li>Law students</li>
    <li>Public</li>
  </ul>

  </p>

  <h4>User:</h4>
  <p>What type of event is it?</p>

  <h4 class="donts">ILAO:</h4>
  <p>Event Type
    <ul>
      <li>Learn about the law</li>
    </ul>
  </p>
  
  <h4>User:</h4>
  <p>I’ve enjoyed previous events posted on ILAO’s site, what is this event about?</p>

  <h4 class="donts">ILAO:</h4>
  <p>Each Law at the Library program features a presentation by an experienced attorney followed by a brief question and answer session. <br>

    This program is presented in partnership with the Chicago Bar Association. <br>
  
  <b>Program</b>: Law at the Library <br>
  <b>Suitable for</b>: Adults <br>
  <b>Type</b>: Business, Law and Money <br>
  <b>Language</b>: English <br>
  </p>

</div>

<div class="content">
  <h2 class="content-subhead">Social Media</h2>
  <p>Twitter can be an effective way to communicate not only what ILAO is doing but also it’s brand and culture that surrounds it. People follow ILAO because they care and they want to know what is going on.
  </p>


  <h3>User feelings:</h3>
  <p>Trust <br>
    Interest <br>
    Anticipation
  </p>

  <h3 class="donts">Tips:</h3>
  <ul>    
    <li>Speak directly. You only have so many characters so make your point.</li>
    <li>Images can draw attention and break up an endless stream of text.</li>
    <li>Be casual when appropriate.</li>

  </ul>

  <h4>User:</h4>
  <p>I am interested in opportunities at ILAO.</p>

  <h4 class="donts">ILAO:</h4>
  <p>ILAO: <br>
    THIS WED = last day to apply to spend the summer with @ILAO and all things#a2j #tech #legalaid in #Chicago</p>

  <h4>User:</h4>
  <p>I haven’t checked in with ILAO in a while. What are they up to?</p>

  <h4 class="donts">ILAO:</h4>
  <p>More than 50% of all questions received via @ILAO's #LegalAnswers portal are related to #FamilyLaw Sign up: http://bit.ly/2dj2DN6 
  </p>
  
  <h4>User:</h4>
  <p>I follow ILAO as I am interested in better understand legal matters</p>

  <h4 class="donts">ILAO:</h4>
  <p>It's tax season and it's worth knowing about the Earned Income Tax Credit More info here:
</div>