<div class="header">
  <h1>Content Type</h1>
  <h2>This is how one should go about it</h2>
</div>

<div class="content">
	<h2 class="content-subhead">File content</h2>
	<p>All files should be uploaded in PDF format.  For forms, link to the clerk's website if possible rather than attaching a file</p>

	<h2 class="content-subhead">Videos</h2>
	<p>If we have a recordings of recent legal training or have produced a video internally, it should be posted to to YouTube and then embedded in a piece of content. If the video is of a training, and the speaker used a powerpoint, that powerpoint should be posted with the video.  Other materials that were used by the speaker, like forms or other samples, should also be posted.</p>

	<h2 class="content-subhead">Forms</h2>
	<p>Include a link to another piece of content that explains how to use the form in the "Qualifications" section. This is usually the "Big Picture" article in the related bundle, but it could be another article.</p>

	<a href="https://www.illinoislegalaid.org/legal-information/voluntary-acknowledgement-parentage" target="_blank">Example form</a>
</div>