<div class="header">
  <h1>Punctuations</h1>
  <h2>How to use them and what they are</h2>
</div>

<div class="content">
  <h2 class="content-subhead">Colons</h2>  
  <p>There are two uses of a colon. One, at the end of a sentence or fragment that introduces a list. Two, a colon can be used sparingly in between two sentences. Only space once and do not capitalize the first word following the colon unless it is a proper noun. </p> 

  <h3>Do</h3>
  <p>The following is a list of defenses:</p>
  
  <h3 class="donts">Don&apos;t</h3>
  <p>The judge will decide matters including: child issues, property, and maintenance.</p>

</div>


<div class="content">
  <h2 class="content-subhead">Semi-Colons</h2>  
  <p>Use to combine two complete sentences that are short and closely related.</p> 

  <h3>Do</h3>
  <p>Come to court 30 minutes early; check in with the clerk.</p>
  
  <h3 class="donts">Don&apos;t</h3>
  <p>If you are stopped by the police, and the police suspect that you may be under the influence, the officer may conduct a field sobriety test; a field sobriety test is a test where you are asked to touch your hand to your nose…</p>

</div>

<div class="content">
  <h2 class="content-subhead">Commas</h2>  
  <p>Use commas sparingly. Avoid compound sentences that would require a comma. Use bullets for lists of items, rather than comma-deliminated items. </p> 

  <h3>Do</h3>
  <p>
    Use a comma after an introductory word or word group. <br>
    Finally, the car swerved to the left, avoiding the people on the sidewalk. <br>
    Until she noticed the handprints, the preschool teacher thought finger paints were a great idea. <br>
  </p>
  
  <h3 class="donts">Don&apos;t</h3>
  <p>
    Don’t use a comma to connect two main sentences. <br>
    I like to reflect on my life, it is a necessary part of personal growth.  <br>
    I like to reflect on my life. It is a necessary part of personal growth.  <br>

  </p>

</div>

<div class="content">
  <h2 class="content-subhead">Double Qutotes</h2>  
  <p>Double quotes can be used when introducing/defining a word for the first time. </p> 

  <h3>Do</h3>
  <p>
    This is known as "curing" or fixing the lease violation.
  </p>
  
  <h3 class="donts">Don&apos;t</h3>
  <p>
    Use the most "up to date" information.
  </p>

</div>

<div class="content">
  <h2 class="content-subhead">Single Qutotes</h2>  
  <p>Do not use.</p> 

</div>

<div class="content">
  <h2 class="content-subhead">Periods</h2>  
  <p>Use periods at the end of each sentence, but do not use periods when items appear in bulleted lists.</p> 

  <h3>Do</h3>
  <p>
    Use the period to set off headings, subheadings and in figure or table captions and identifiers.
  </p>
  
  <h3 class="donts">Don&apos;t</h3>
  <p>
    Do not end a sentence with a period if it already ends with another end punctuation mark (a question mark or an exclamation point).
  </p>

</div>

<div class="content">
  <h2 class="content-subhead">Question marks</h2>  
  <p>They should be used at the end of question, right?</p> 
</div>


<div class="content">
  <h2 class="content-subhead">Apostrophe</h2>  
  <p>Use an apostrophe and an s, even if the singular noun ends in s, x, or z. For plural nouns that end in s, only ad an apostrophe.</p> 

  <h3>Do</h3>
  <p>
    Scotus's; ducks'
  </p>
  
  <h3 class="donts">Don&apos;t</h3>
  <p>
    Scotus'; ducks's
  </p>
</div>

<div class="content">
  <h2 class="content-subhead">Parentheses</h2>  
  <p>Avoid using them; they are confusing to people with lower reading levels</p> 
</div>


<div class="content">
  <h2 class="content-subhead">Hyphenate</h2>  
  <p>Hyphenate two or more words that precede and modify a noun as a unit if confusion might otherwise result. Do not hyphenate for adverbs ending in ly.</p> 

  <h3>Do</h3>
  <p>
    built-in drive
  </p>
  
  <h3 class="donts">Don&apos;t</h3>
  <p>
    highly-graphic
  </p>
</div>

<div class="content">
  <h2 class="content-subhead">Em Dash</h2>  
  <p>Do not use.</p> 
</div>

<div class="content">
  <h2 class="content-subhead">En Dash</h2>  
  <p>Used to indicate a range. Do not space on either side of an en dash   </p> 

  <h3>Do</h3>
  <p>
    Eg. 1999–2001 1999 – 2001
  </p>
</div>

<div class="content">
  <h2 class="content-subhead">Slashes</h2>  
  <p>Avoid using them in text unless spelling out a URL; slashes are confusing to people with lower reading levels. Instead use 'and' or 'or'.</p> 
</div>

<div class="content">
  <h2 class="content-subhead">Ampersand</h2>  
  <p>Do not use ampersand (&amp;).</p> 

  <h3>Do</h3>
  <p>
    Clerks and judges
  </p>
  
  <h3 class="donts">Don&apos;t</h3>
  <p>
    Clerks &amp; judges
  </p>
</div>

<div class="content">
  <h2 class="content-subhead">Serial Oxford Comma</h2>  
  <p>Yes, use the oxford comma. In a series consisting of three or more elements, separate each element with a comma..</p> 

  <h3>Do</h3>
  <p>
    Joe went to the store, the farmers market, and Walgreens.
  </p>
  
  <h3 class="donts">Don&apos;t</h3>
  <p>
    Joe went to the store, the farmers market and Walgreens.
  </p>
</div>