<div class="header">
  <h1>Formatting</h1>
  <h2>This is how one should go about it</h2>
</div>

<div class="content">
  <h2 class="content-subhead">For Roska articles</h2>  
  <p>First, the title of the article must comply with the new ILAO Style Guide. Next, keep this at the beginning of each Roska: The following question was/questions were (pick appropriate one for article) submitted to John Roska, an attorney/writer whose weekly newspaper column, ""The Law Q&A,"" runs in the Champaign News Gazette. Then, include the following two headings: (1) Question [H3] and write question(s) underneath this heading and (2) Answer [H3] and write answer underneath this heading Finally, the text of the article must comply with the new ILAO Style Guide</p>  
</div>

<div class="content">
  <h2 class="content-subhead">Italics</h2>
  <p>All court forms should be italized. Otherwise, use only in limited circumstances such as: legal citation, case law, book title.</p>

  <h3>Do</h3>
  <p><i>United States v. Miller, Appearance Pro Se</i></p>

  <h3 class="donts">Don't</h3>
  <p><i>Court, Judge</i></p>

</div>

<div class="content">
  <h2 class="content-subhead">Bold</h2>
  <p>Only bold individual words or phrases; never bold an entire sentence or paragraph. Use for the rare instance of subheadings in an article, or when there is an important deadline, alert or notice for the reader to note</p>

  <h3>Do</h3>
  <p><b>Settle</b>: Come to an agreement with the other party on your own. You have more control of the outcome because a judge or jury is not making the final decision.</p>

  <h3 class="donts">Don't</h3>
  <p><b>Settle: Come to an agreement with the other party on your own. You have more control of the outcome because a judge or jury is not making the final decision.</b></p>
</div>


<div class="content">
  <h2 class="content-subhead">Underline</h2>
  <p>Don't ever use.</p>
</div>


<div class="content">
  <h2 class="content-subhead">All Caps</h2>
  <p>DON'T EVER USE.</p>
</div>

<div class="content">
  <h2 class="content-subhead">Spacing between sentences</h2>
  <p>One space, not two.</p>
</div>


<div class="content">
  <h2 class="content-subhead">Spacing between paragraphs</h2>
  <p>One return, not two.</p>
</div>

<div class="content">
  <h2 class="content-subhead">Bulleted and numbered list</h2>
  <p>If there is no order or sequence to the items, use bullets. If there is an order or sequence, use numbers. In either case, use scannable, discrete text. Introduce bullet points with a complete sentence or fragment followed by a colon, then a return ("enter" key). Capitalize the first word following the bullet point. Do not add any punctuation at the end of a bullet point, unless at least one item in the list is a complete sentence, in which case use a semicolon after each bullet point in the list and a period after the last bullet point.  If they are complete sentences, you should also end the second-to-last item with the word "and." Otherwise do not use the word "and" at the end of the second-to-last item. There should only be one hierarchical level for bullet lists. A second level may be used only when absolutely necessary.</p>
</div>

<div class="content">
  <h2 class="content-subhead">Dealing with citations, statutes, regulations, &amp; case law</h2>
  <p>Use Blue Book</p>
</div>

