<div class="header">
  <h1>Text and Terms</h1>
  <h2>This is how one should go about it</h2>
</div>

<div class="content">
  <h2 class="content-subhead">Capitalization of proper names</h2>  
  <p>Use title case.</p>

  <h3>Do</h3>
  <p>Illinois Supreme Court.</p>

  <h3 class="donts">Don't</h3>
  <p>Cook county circuit clerk</p>
</div>

<div class="content">
  <h2 class="content-subhead">Capitalization of judge, court, clerk, etc.</h2>
  <p>When speaking generally of the court, judge or clerk, do not capitalize. Only capitalize specific courts or judges.</p>

  <h3>Do</h3>
  <p>Ask the judge to move your court date. The Supreme Court of the United States... Judge Smith in...</p>

  <h3 class="donts">Don't</h3>
  <p>File your forms with the Clerk at the front of the Court room. Tell the Judge...</p>
</div>

<div class="content">
  <h2 class="content-subhead">Names of Organizations</h2>
  <p>Capitalize the first letter of each proper word. Do not capitalize articles in between proper words. </p>

  <h3>Do</h3>
  <p>Illinois Secretary of State, United States Department of Homeland Security</p>
  
  <h3 class="donts">Don't</h3>  
  <p>Illinois secretary of state, US DHS</p>
</div>




<div class="content">
  <h2 class="content-subhead">Circuit Clerk, Court Clerk, or Clerk</h2>
  <p>Use circuit clerk and do not capitalize it. </p>

  <h3>Do</h3>
  <p>See the circuit clerk for an answer.</p>
  
  <h3 class="donts">Don't</h3>  
  <p>See the Clerk for an answer.</p>
</div>

<div class="content">
  <h2 class="content-subhead">City</h2>
  <p>Use lower case city </p>

  <h3>Do</h3>
  <p>The city will present its case.</p>

  <h3 class="donts">Don't</h3>
  <p>The City will present its case.</p>
</div>
