<div class="header">
  <h1>Metadata</h1>
  <h2>This is how one should go about it</h2>
</div>

<div class="content">
  <h2 class="content-subhead">Content description length</h2>  
  <p>120 characters (system default). This is characters, not spaces</p>  
</div>

<div class="content">
  <h2 class="content-subhead">Content description format</h2>  
  <p><a href="https://docs.google.com/document/d/1F3-rwcuKQgY99UjwsNiv32WxvIvibCUSefZ7mCT0Eb0/edit?ts=57969eef">See standarad description.</a></p>  

  <h3>Do</h3>
  <p>Divorce court process covered in a step-by-step approach.</p>

  <h3 class="donts">Don't</h3>
  <p>An article about the divorce court process.</p>
</div>


<div class="content">
  <h2 class="content-subhead">Taxonomy tags - "Another" tags</h2>  
  <p>If you tag a piece of content to a taxonomy tag that starts with "another" or "other," do not tag that piece of content to any other taxonomy tags, except another "another" or "other" tag</p>  
</div>
