<div class="header">
  <h1>Titles</h1>
  <h2>How to use them and what they are</h2>
</div>

<div class="content">
  <h2 class="content-subhead">Capitalization</h2>  
  <p>Use sentence case.</p> 

  <h3>Do</h3>
  <p>Getting a divorce</p>
  
  <h3 class="donts">Don&apos;t</h3>
  <p>Getting a Divorce.</p>

</div>


<div class="content">
  <h2 class="content-subhead">Length</h2>  
  <p>60 characters (system default). This is characters, not spaces.</p> 

</div>

<div class="content">
  <h2 class="content-subhead">Format</h2>  
  <p>Most important words should appear at the beginning of a title. It should be more descriptive than just stating the legal issue.</p> 

  <h3>Do</h3>
  <p>Getting child support</p>
  
  <h3 class="donts">Don&apos;t</h3>
  <p>Child support.</p>

</div>

<div class="content">
  <h2 class="content-subhead">Clarifying jurisdiction in title</h2>  
  <p>If the content piece applies statewide or nationally, we don't include geographic/jurisdictional indicator; it is is less than Illinois, then include in the content title. The exception is for IICLEs. If an IICLE has Illinois in the title, keep Illinois in the title.</p> 

  <h3>Do</h3>
  <p>Eviction rules in Chicago</p>
  
  <h3 class="donts">Don&apos;t</h3>
  <p>Getting a divorce in Illinois</p>

</div>


<div class="content">
  <h2 class="content-subhead">Document attachments</h2>  
  <p>Same rules as above apply. Be precise given the content of the document. Labels such as "transcript" go at the end of the title.</p> 

  <h3>Do</h3>
  <p>LAF handout on juvenile expungement Going to court transcript</p>
  
  <h3 class="donts">Don&apos;t</h3>
  <p>Juvenile expungement Transcript of going to court</p>

</div>


<div class="content">
  <h2 class="content-subhead">Contractions</h2>  
  <p>Do NOT use contractions in titles. Divorce does not mean child support Divorce doesn't mean child support</p> 
</div>

