<div class="header">
  <h1>Dialog</h1>
  <h2>How to use them and what they are?</h2>
</div>

<div class="content">
  <h2 class="content-subhead">What is a Dialog?</h2>
  <p>Dialogs inform users about a specific task and may contain critical information, require decisions, or involve multiple tasks.</p>
  <p>Dialogs contain text and UI controls. They retain focus until dismissed or a required action has been taken. Use dialogs sparingly because they are interruptive.</p>

</div>

<div class="content">
  <h2 class="content-subhead">Types of Dialogs</h2>
  <p>Some dialog types include:
    <ul>
      <li>Alerts are urgent interruptions that inform about a situation and require acknowledgement.</li>
      <li>Simple menus display options for list items, whereas simple dialogs can provide details or actions about a list item.</li>
      <li>Confirmation dialogs require users to explicitly confirm a choice.</li>
    </ul>
  </p>
</div>

<div class="content">
  <h2 class="content-subhead">Behavior</h2>
  <p>Dialogs should never be obscured, either by other elements or the screen edge. Dialogs always retain focus until dismissed or a required action has been taken.</p>
</div>

<div class="content">
  <h2 class="content-subhead">Full-screen dialogs (Mobile only)</h2>
  <p>Full-screen dialogs are best suited to complex tasks, or require an input method editor, as they group a series of tasks together before they can be saved.</p>
</div>

<div class="content">
  <h2 class="content-subhead">Example</h2>
  <div class="pure-g">
    <div class="pure-u-1">                    
      <img class="pure-img" src="img/dialog/1.png" alt="Dos/Donts">
    </div>    
  </div>
</div>