 <div class="header">
  <h1>Colors</h1>
  <h2>How to use them and what they are?</h2>
</div>

<div class="content">
  <h2 class="content-subhead">Colors</h2>  

  <h3>Primary</h3>
  
  <div class="pure-u-1 ilao-small primary1">
    <b>RGB</b> : (106,200,239) <br>
    <b>HEX</b> : 6AC8EF <br>
    <b>Usage</b>: Active or hover color for the main identity <br>
    <button class="pure-button-primary pure-button color-btn" data-clipboard-text="6AC8EF">Copy</button>
  </div>


  <div class="pure-u-1 ilao-small primary2">
    <b>RGB</b> : (4,160,217) <br>
    <b>HEX</b> : 04A0D9 <br>
    <b>Usage</b>: Main identity color, Heading 1 <br>
    <button class="pure-button-primary pure-button color-btn" data-clipboard-text="04a0d9">Copy</button>
  </div>


  <div class="pure-u-1 ilao-small primary3">
    <b>RGB</b> : (4,126, 182) <br>
    <b>HEX</b> : 047EB6 <br>
    <b>Usage</b>: Links, button icons, etc. <br>
    <button class="pure-button-primary pure-button color-btn" data-clipboard-text="047EB6">Copy</button>
  </div>


  <div class="pure-u-1 ilao-small primary4">
    <b>RGB</b> : (213,62, 48) <br>
    <b>HEX</b> : d83e30 <br>
    <b>Usage</b>: Small flag in the comments section and for the use of an asterisk(*), various icons <br>
    <button class="pure-button-primary pure-button color-btn" data-clipboard-text="d83e30">Copy</button>
  </div>  
  

  <h3>Other Colors</h3>

  <div class="pure-u-1 ilao-small other1">
    <b>RGB</b> : (240,240,240) <br>
    <b>HEX</b> : F0F0F0 <br>
    <b>Usage</b>: Content dividers <br>
    <button class="pure-button-primary pure-button color-btn" data-clipboard-text="F0F0F0">Copy</button>
  </div>  
  

  <div class="pure-u-1 ilao-small other2">
    <b>RGB</b> : (200,200,200) <br>
    <b>HEX</b> : C8C8C8 <br>
    <b>Usage</b>: Footer menu Items, Social Icons <br>
    <button class="pure-button-primary pure-button color-btn" data-clipboard-text="C8C8C8">Copy</button>
  </div>  
  

  <div class="pure-u-1 ilao-small other3">
    <b>RGB</b> : (118,118,118) <br>
    <b>HEX</b> : 767676 <br>
    <b>Usage</b>: Menu items, buttons <br>
    <button class="pure-button-primary pure-button color-btn" data-clipboard-text="767676">Copy</button>
  </div>  

  <div class="pure-u-1 ilao-small other4">
    <b>RGB</b> : (80,80,80) <br>
    <b>HEX</b> : 505050 <br>
    <b>Usage</b>: Footer background, Heading 2 <br>
    <button class="pure-button-primary pure-button color-btn" data-clipboard-text="505050">Copy</button>
  </div>  

  <div class="pure-u-1 ilao-small other5">
    <b>RGB</b> : (50,50,50) <br>
    <b>HEX</b> : 323232 <br>
    <b>Usage</b>: Secondary footer background <br>
    <button class="pure-button-primary pure-button color-btn" data-clipboard-text="323232">Copy</button>
  </div>  

  <div class="pure-u-1 ilao-small other6">
    <b>RGB</b> : (0,0,0) <br>
    <b>HEX</b> : 000000 <br>
    <b>Usage</b>: Heading 4, paragraph <br>
    <button class="pure-button-primary pure-button color-btn" data-clipboard-text="000000">Copy</button>
  </div>  

  <h3>Error</h3>

  <div class="pure-u-1 ilao-small error1">
    <b>RGB</b> : (204,0,0) <br>
    <b>HEX</b> : #cc0000 <br>
    <b>Usage</b>: Error message red <br>
    <button class="pure-button-primary pure-button color-btn" data-clipboard-text="cc0000">Copy</button>
  </div>  

  <div class="pure-u-1 ilao-small error2">
    <b>RGB</b> : (222,55,0) <br>
    <b>HEX</b> : #de3700 <br>
    <b>Usage</b>: Warning message orange <br>
    <button class="pure-button-primary pure-button color-btn" data-clipboard-text="de3700">Copy</button>
  </div>  

  <div class="pure-u-1 ilao-small error3">
    <b>RGB</b> : (0,135,0) <br>
    <b>HEX</b> : #008700 <br>
    <b>Usage</b>: Success message green <br>
    <button class="pure-button-primary pure-button color-btn" data-clipboard-text="008700">Copy</button>
  </div>  
</div>    