<div class="header">
  <h1>Promo</h1>
  <h2>How to use them?</h2>
</div>

<div class="content">
  <h2 class="content-subhead">How it works</h2>  
  <p>A promo needs to give the user information about what it is pointing to, as well as telling a compelling story. A promo can be made up of different parts in different combinations, giving us the flexibility to communicate the right message. </p> 

  <h3>What elements can a promo be made up of?</h3>
  <p><b>Key text</b>: Such as a headline, fact or quote, this is generally used to inform you of what the content is as a statement. <br>
    <b>Media</b>: Such as imagery, video or audio is used to entice you in, either through awareness or to preview content. <br>
    <b>Data</b>: Such as voting, quizzes, results. Scores or similar types of data to show progress of a story or event can also be used to draw the attention of people. <br>
    <b>Additional supporting items</b>: Such as supporting subtitles or descriptive text, labels, icons or social media is used to describe the content further. <br>
    <b>Metadata</b>: Such as Contributors, Timestamps and Attributions to give credit and context to the content. <br>
    <b>Contextual onward journeys</b>: Such as related links to this piece of content used to help content discovery and cross-promotion. <br>
    </p>

    <div class="pure-g">
    <div class="pure-u-1">
      <img src="img/promo/1.png" alt="image-size" class="pure-img">
    </div>
  </div>    
  
</div>
