<div class="header">
  <h1>Videos</h1>
  <h2>How to use them?</h2>
</div>

<div class="content">
  <h2 class="content-subhead">What are they?</h2>  
  <p>Videos play an integral role in how customers learn about our work. They provide an engaging way to discover features and learn how to accomplish unfamiliar workflows. </p> 

  <h3>What elements can a promo be made up of?</h3>
  <p><b>Video Title</b>: Such as a headline, fact or quote, this is generally used to inform you of what the content is as a statement. <br><br>
    <b>Length of video with timestamp</b>: This information can be included in the video title to inform users about how long the video is. <br><br> 
    <b>Summary</b>: Such as supporting subtitles or descriptive text, labels, icons or social media is used to describe the content further. <br><br>
    <b>Details</b>: Such as presenters in the video and what materials are being covered by the video. <br><br>
    <b>Acknowledgements</b>: Such as who has scripted it, if the video has subtitles crediting the appropirate people who added them. <br><br>
    <b>Metadata</b>: Such as Contributors, Timestamps and Attributions to give credit and context to the content. <br><br>
    <b>Contextual onward journeys</b>: Such as related links to this piece of content used to help content discovery and cross-promotion. <br><br>
    </p>


  <div class="pure-g">
    <div class="pure-u-1">
      <img src="img/videos/1.png" alt="image-size" class="pure-img">
    </div>
  </div>    
  <h2 class="content-subhead"> Sizes </h2>
  <p>The size of the video should be as below. The videos also need to have a higer resolution of 720p.</p>
  <div class="pure-g">
    <div class="pure-u-1">
      <img src="img/videos/2.png" alt="image-size" class="pure-img">
    </div>
  </div>    

</div>