<div class="header">
  <h1>Alerts</h1>
  <h2>How to use them and what they are?</h2>
</div>

<div class="content">
  <h2 class="content-subhead">What are they?</h2>  
  <p>Flash messages, or alerts, inform users of successful or pending actions. Use them sparingly. Don’t show more than one at a time. </p> 

  <h2 class="content-subhead"> Default </h2>
  <p>Flash messages start off looking decently neutral—they’re just light grey rounded rectangles. You can put multiple paragraphs of text in a flash message</p>
  <div class="pure-g">
    <div class="pure-u-1">
      <img src="img/alerts/1.png" alt="image-size" class="pure-img">
    </div>
  </div>    
  <h2 class="content-subhead"> Variations </h2>
  <p>Use different color variations for indicating success or errors</p>
  <div class="pure-g">
    <div class="pure-u-1">
      <img src="img/alerts/2.png" alt="image-size" class="pure-img">
    </div>
  </div>    


  <h2 class="content-subhead"> Dismiss </h2>
  <p>Add a JavaScript enabled (via Crema) dismiss (close) icon on the right of any flash message.</p>
  <div class="pure-g">
    <div class="pure-u-1">
      <img src="img/alerts/3.png" alt="image-size" class="pure-img">
    </div>
  </div>    
  
</div>
