<div class="header">
  <h1>Fonts</h1>
  <h2>How to use them and what they are?</h2>
</div>

<div class="content">
  <h2 class="content-subhead">Brand Font</h2>  
  <p>While the logo is the foundation of the visual brand, brand fonts are also important in upholding the look and feel of the ILAO brand. The font choice for the core logo is Bebas Neue BOLD. The “ILAO” in the logo is a custom graphic which does not belong to any existing font.</p>
</div>
<div class="content">
  <h2>Antonio - Additional Font 1</h2>
  <p>While using the Bebas Neue BOLD as the logo font, we recommend using Antonio REGULAR for the headers, section titles etc. Antonio is a complimentary font that in its modern and elegant form, serves well as highlight text in any medium. It is also available both for printing and optimised for use as a display font in modern web browsers.</p>
  <a href="downloads/antonio.zip">Download Antonio</a>

  <h3>Antonio Alternative (Oswald)</h3>
  <p>If Antonio REGULAR is not available (such as when using Google docs), please use Oswald for titles and top-level headings. </p>
  <a href="downloads/oswald.zip">Download Oswald</a>

  <h3>Antonio Alternative (Archivo Narrow)</h3>
  <p>Also when using Google docs, for lower-level headings, please use Archivo Narrow. Archivo Narrow was designed to be used simultaneously in print and digital platforms</p>
  <a href="downloads/archivo-narrow.zip">Download Archivo Narrow</a>
</div>
<div class="content">
  <h2>Additional Font 2</h2>
  <p>Quattrocento Sans is a sans serif type family of three weights. The wide and open letterforms and large x-height make it very legible for body text at small sizes. All the tiny details that only shows up at bigger sizes make it also great for display use. We recommend using Quattrocentro Sans family as body text, and small text in ILAO Marketing Collateral and Website due to its legibility, modernness and flexibility.</p>
  <a href="downloads/quattrocento-sans.zip">Download Quattrocento Sans</a>

  <h3>Other</h3>
  <a href="downloads/quicksand.zip">Download Quicksand</a>  


</div>