<div class="header">
  <h1>Typography</h1>
  <h2>How to use them and what they are?</h2>
</div>

<div class="content">
  <h2 class="content-subhead">General Font Sizes</h2>  
  <p>This is a list of font sizes for different elements, along with the color and typeface to be used 
  </p>
</div>

<div class="content">
  <div class="font-block">
    <p>
      <span class="stats-number">Oswald Normal 40px</span></br>
      <b>Use with</b>: My to do ListStatistics Number <br> <b>Color</b>: #04a0d9
    </p>
  </div>

  <div class="clear-fix"></div>

  <div class="font-block">
    <p>
      <span class="heading1">Antonio Regular 28px</span></br>
      <b>Use with</b>: Heading 1 <br> <b>Color</b>: #04a0d9
    </p>
  </div>

  <div class="alternative-font-block">
    <p>
      <span class="heading1-alternative">Oswald Normal 28px</span></br>
      <b>Use with</b>: Alternative Heading 1 <br><b>Color</b>: #04a0d9
    </p>
  </div>

  <div class="clear-fix"></div>

  <div class="font-block">
    <p>
      <span class="heading2">Antonio Regular 24px</span></br>
      <b>Use with</b>: Heading 2 <br><b>Color</b>: #505050
    </p>
  </div>

  <div class="alternative-font-block">
    <p>
      <span class="heading2-alternative">Oswald Normal 24px</span></br>
      <b>Use with</b>: Alternative Heading 2 <br><b>Color</b>: #505050
    </p>
  </div>

  <div class="clear-fix"></div>

  <div class="font-block">
    <p>
      <span class="heading2light">Antonio Regular 24px</span></br>
      <b>Use with</b>: Blue Graphic Section Identifiers <br><b>Color</b>: #505050
    </p>
  </div>

  <div class="alternative-font-block">
    <p>
      <span class="heading2light-alternative">Oswald Normal 24px</span></br>
      <b>Use with</b>: Alternative Blue Graphic Section Identifiers <br><b>Color</b>: #505050
    </p>
  </div>

  <div class="clear-fix"></div>

  <div class="font-block">
    <p>
      <span class="footer">Antonio Regular 20px</span></br>
      <b>Use with</b>: Footer Title <br><b>Color</b>: #04a0d9
    </p>
  </div>

  <div class="alternative-font-block">
    <p>
      <span class="footer-alternative">Oswald Normal 20px</span></br>
      <b>Use with</b>: Alternative Footer Title <br><b>Color</b>: #04a0d9
    </p>
  </div>

  <div class="clear-fix"></div>

  <div class="font-block">
    <p>
      <span class="heading3">Archivo Narrow Regular 20px</span></br>
      <b>Use with</b>: Heading 3 <br><b>Color</b>: #323232
    </p>
  </div>
  <div class="clear-fix"></div>

  <div class="font-block">
    <p>
      <span class="button-text">Archivo Narrow Regular 16px</span></br>
      <b>Use with</b>: Button Text, Menu Item Text <br><b>Color</b>: #767676
    </p>
  </div>
  <div class="clear-fix"></div>

  <div class="font-block">
    <p>
      <span class="footer-menu">Archivo Narrow Regular 15px</span></br>
      <b>Use with</b>: Footer Menu Item <br><b>Color</b>: #d83e30
    </p>
  </div>
  <div class="clear-fix"></div>

  <div class="font-block">
    <p>
      <span class="heading4">Quattrocento Sans Bold 18px</span></br>
      <b>Use with</b>: Heading 4 <br><b>Color</b>: #000
    </p>
  </div>
  <div class="clear-fix"></div>

  <div class="font-block">
    <p>
      <span class="heading5">Quattrocento Sans Regular 16px</span></br>
      <b>Use with</b>: Heading 5 <br><b>Color</b>: #000
    </p>
  </div>
  <div class="clear-fix"></div>

  <div class="font-block">
    <p>
      <span class="paragraph">Quattrocento Sans Regular 16px</span></br>
      <b>Use with</b>: Paragraph <br><b>Color</b>: #000
    </p>
  </div>
  <div class="clear-fix"></div>

  <div class="font-block">
    <p>
      <span class="dates">Quattrocento Sans Italic 13px</span></br>
      <b>Use with</b>: Date <br><b>Color</b>: #000
    </p>
  </div>
  <div class="clear-fix"></div>

</div>

<div class="content">
  <h2 class="content-subhead">Links</h2>  
  <p>Links should be easily distinguishable from body text using a combination of bold type and colour.
  </p>  
  <ol>
    <li><p>The links in the <a href="#">paragraphs are blue and bold</a>, and when a user hovers over these links they would be underlined. <br>
      <b>Size</b>: 16px<br>
      <b>Color</b>: #047eb6 <br>        
      
    </p>
  </li>
  <li>
    <p>The titles in the Sidebar blocks or Home content blocks <a class="big" href="#">are black, and when a</a> user hovers over them, they change to blue <br>
      <b>Size</b>: 18px <br>
      <b>Color</b>: #047eb6 <br>        
      
    </p>
  </li>
  <li><p> For the rest of the links in the mockup, such as within pagination, <a href="#" class="breadcrumbs">breadcrumbs</a>, previous/next article(s), etc. they are either in grey or black, and when a user hovers over them, they change to blue. <br>
    <b>Size</b>: 13px <br>
    <b>Color</b>: #047eb6 <br>        
    
  </p>
</li>
</ol>


</div>

<div class="content">
  <h2 class="content-subhead">Blockquotes</h2>  

  <div class="font-block">
    <p>
      <span class="quote">Quattrocento Sans Italic 16px</span></br>
      <b>Use with</b>: Quote <br><b>Color</b>: #000
    </p>
  </div>

  <div class="alternative-font-block">
    <p>
      <span class="quote-alternative">QuickSand Italic 16px</span></br>
      <b>Use with</b>: Alternative Quote <br><b>Color</b>: #000
    </p>
  </div>

</div>

<div class="content">
  <div class="alert-box pure-u-1">
    For downloading the fonts, go to <b>Design Components > Fonts </b>.
  </div>
</div>