<div class="header">
  <h1>Buttons</h1>
  <h2>How to use them and what they are?</h2>
</div>

<div class="content">
  <h2 class="content-subhead">Style</h2>  
  <p>There are multiple button styles used in the different areas. Here are the rules of how they look on page load and when they are hovered over or clicked on.</p> 

  <h3>Inactive States</h3>

  <button class="medium-size grey-button">Button</button> <br>
  <button class="medium-size blue-button">Button</button> <br>
  <button class="medium-size red-button">Button</button> <br>
  <button class="medium-size bluefill-button">Button</button> <br>

  <h3>Hover States</h3>

  <button class="medium-size grey-button-hover">Button</button> <br>
  <button class="medium-size blue-button-hover">Button</button> <br>
  <button class="medium-size red-button-hover">Button</button> <br>
  <button class="medium-size bluefill-button-hover">Button</button> <br>

  <h2 class="content-subhead">Sizes</h2>  
  <button class="small-size grey-button">Small</button> <br>
  <button class="medium-size grey-button">Medium</button> <br>
  <button class="large-size red-button">Large</button> <br>
  <button class="contact-size blue-button">Contact</button> <br>

  <h2 class="content-subhead">Other</h2>  
  
  <button class="contact-size other-button">Chat</button> <br>
</div>
