<div class="header">
  <h1>Images</h1>
  <h2>How to use them?</h2>
</div>

<div class="content">
  <h2 class="content-subhead">Sizes</h2>  
  <p>Images should be 831 w x 554 h and 72 DPI. This allows to keep quality when the site is scaled for both web and mobile views along with allowing high quality images to be shared with articles on social media. </p>
  <div class="pure-g">
    <div class="pure-u-1">
      <img src="img/images/1.png" alt="image-size" class="pure-img">
    </div>
  </div>

  <h2 class="content-subhead">Image Placement</h2>  
  <p>Images are used with articles on the home page. Image placement changes based on it’s location and screen resolution.  </p>
  <div class="pure-g">
    <div class="pure-u-1">
      <img src="img/images/2.png" alt="image-size" class="pure-img">
    </div>
    <div class="pure-u-1">
      <img src="img/images/3.png" alt="image-size" class="pure-img">
    </div>
  </div>
  
  <h2 class="content-subhead">How to Choose</h2>  
  <p>Only use images when they give additional context or information to the article. When choosing images for a news story, home page, or social media remember images that directly relates to the story are most effective. Images should not be blurry, grainy, stretched, pixelated or badly lit. <br><br> Use images that do not have a lot of text. Rather, let the story title and description contain the relevant text and let the image strengthen it. </p>
</div>

<div class="content">
  <h2 class="content-subhead">Image File Names</h2>  
  <p>Images should have a meaningful file name. This helps images show up in search engines.</p>

  <h3>Do</h3>
  <p>
    Image of a woman holding a closed sign: discrimination_customer_woman_closed_sign.jpg <br>
    Imagine of a person getting arrested: police_arresting_man_police_car.jpg
  </p>

  <h3 class="donts">Don't</h3>
  <p>
    Image of a woman holding a closed sign: IMG0001.jpg <br> Imagine of a person getting arrested: DESC105.jpg
  </p>
</div>

<div class="content">
  <h2 class="content-subhead">Alt Text</h2>  
  <p>Some people use screen readers to read a page. Alt text allows readers to understand visual content. Alt text should not just be a literal description of the image but rather the point the image is trying to make. <br> If the image is not essential to the content, use empty quote marks: “” as the alt text. </p>

  <h3>Do</h3>
  <p>
    Picture of an accident: use appropriate text to describe the type of accident the image is showing
  </p>

  <h3 class="donts">Don't</h3>
  <p>
    For logos or icons do not use alt text to say there is an icon or logo on the page.
  </p>
</div>
