<div class="header">
  <h1>Blankslate</h1>
  <h2>How to use them and what they are?</h2>
</div>

<div class="content">
  <h2 class="content-subhead">What are blankslates?</h2>  
  <p>Blankslates are for when there is a lack of content within a page or section. Use them as placeholders to tell users why something isn’t there. Be sure to provide an action to add content as well. </p> 

  <h2 class="content-subhead"> Basic example </h2>
  <div class="pure-g">
    <div class="pure-u-1">
      <img src="img/blankslate/1.png" alt="image-size" class="pure-img">
    </div>
  </div>    
  <h2 class="content-subhead"> Icons </h2>
  <p>When it helps the message, include (relevant) icons in your blank slate. </p>
  <div class="pure-g">
    <div class="pure-u-1">
      <img src="img/blankslate/2.png" alt="image-size" class="pure-img">
    </div>
  </div>    
  
</div>
