<div class="header">
  <h1>FAQ</h1>
  <h2>Frequently asked questions</h2>
</div>

<div class="content">
  <h2 class="content-subhead">How to hyperlinking caselaw?</h2>  
  <p>You are supposed to link the whole citation</p>

  <h2 class="content-subhead">How do we link caselaw to Google Scholar</h2>
  <p>When searching for caselaw in Google Scholar, be sure to select "Case Law" before hitting the magnifying glass</p>

  <h2 class="content-subhead">How do we link to legal authority throughout adrm</h2>
  <p>You are supposed to link the whole citation</p>
</div>