<div class="header">
  <h1>Grammar</h1>
  <h2>This is how one should go about it</h2>
</div>

<div class="content">
  <h2 class="content-subhead">Reading Level</h2>  
  <p>Target reading level is 6th - 8th grade. The reading level will be assessed by running a Flesch-Kincaid grade level test. This test measures how difficult an English passage is to understand. The formula used to calculate this grade level test is as follows:</p>

  <p class="quote">0.39( total words / total sentences ) <br>  + 11.8( total syllables / total words ) <br> - 15.59</p>

  <p>The result of this formula corresponds with a U.S. grade level. Thus, the lower the score the easier it is to be understood by more people. </p>

  <h3>Do</h3>
  <p>
    <b>Flesch-Kincaid Grade Level: 7.8</b> <br>
    A substantial change in circumstances means a big change in the child&apos;s life or in the life of the paying parent.
  </p>

  <h3 class="donts">Don&apos;t</h3>
  <p>
    <b>Flesch-Kincaid Grade Level: 12</b> <br>
    Either parent can ask the court to change the amount of child support payments if there has been a substantial change in circumstances since the last child support order. 
  </p>

  <h2 class="content-subhead">People-first language</h2>  
  <p>
    If you are using a word to describe a person, put the word after the word “person”.
  </p>
  <h3>Do</h3>
  <p>    
    Person with a disability
  </p>

  <h3 class="donts">Don&apos;t</h3>
  <p>
    Disabled person
  </p>

  <h2 class="content-subhead">Voice: use of a passive voice</h2>  
  <p>Avoid using this at all times</p>
  <h3>Do</h3>
  <p>    
    Harry ate six shrimp at dinner.
  </p>

  <h3 class="donts">Don&apos;t</h3>
  <p>
    At dinner, six shrimp were eaten by Harry.
  </p>

  <h2 class="content-subhead">And / Or</h2>
  <p>Do not use and/or where it will cause confusing ambiguity. Use it sparingly if it avoid confusion between two or more equally viable options.</p>  
  <h3>Do</h3>
  <p>    
    You may submit one or both.
  </p>

  <h3 class="donts">Don&apos;t</h3>
  <p>
    You may submit on and/or the other.
  </p>

 <h2 class="content-subhead">He / She / Them</h2>
  <p>Use gender neutral terms and avoid generic masculine pronouns whenever possible.</p>  
  <h3>Do</h3>
  <p>    
    Business person, mail carrier, salesperson, police officer.
  </p>

  <h3 class="donts">Don&apos;t</h3>
  <p>
    Businessman, businesswoman, policeman, mailman, salesman, chairwoman.
  </p>

</div>