<div class="header">
  <h1>Who we serve?</h1>
  <h2>Who are we working for?</h2>
</div>

<div class="content">
  <p>Illinois Legal Aid Online sits at the center of the legal aid system in Illinois and serves many different types of people and organizations.</p>

  <h2>People with legal problems</h2>
<p>ILAO puts the law within reach for everyone with a legal problem in Illinois, regardless of their location, income, and education. People can access user-friendly online legal information and services from anywhere they can connect to the internet, including their mobile phone. ILAO simplifies our complex legal system and connects people to the best help that is available to them. </p>

</div>

<div class="content">

  <h2>Pro bono legal professionals</h2>
  <p>ILAO loves legal professionals who give back. Lawyers, paralegals, and law students who want to do pro bono can find their perfect volunteer opportunity here. They also get the training and practice support they need to be successful in their pro bono work. Online resources are available 24/7 so lawyers can easily fit pro bono into their busy schedules.</p>

  <br>
  <p>Want to volunteer for ILAO? <a href="https://sites.google.com/a/illinoislegalaid.org/lcv/sign-up-to-be-a-volunteer">Sign up to be a volunteer!</a></p>
</div>

<div class="content">

<h2>Legal aid advocates</h2>
<p>Legal aid advocates are ILAO's people! Lawyers, paralegals, and administrators who work at legal aid organizations are connected to colleagues across the state, and can find practice resources and the answers they need to more effectively and efficiently represent clients. ILAO connects clients to our legal aid partners via an online triage system that directs people to the best available resource for their problem and location.</p>

</div>

<div class="content">
<h2>Illinois courts</h2>
<p>ILAO helped establish and supports legal self-help centers at courthouses and public libraries in all 102 Illinois counties. At these centers people can find the information they need, get help preparing court forms, and learn their next steps. We also create easy-to-use interactive versions of all new statewide standardized court forms.</p>

</div>
<div class="content">
<h2>Testimonials</h2>
<blockquote>"I couldn't have done this without you" - Mike P., DeKalb County</blockquote>

<blockquote>"With so much BS online about disability applications &amp; appeal procedures, this site is a breath of fresh air. THANK YOU cause I needed help &amp; I got it here!" - user of Disabilities Guidebook: Social Security Disability Benefits (SSDI) and Supplemental Security Income (SSI)</blockquote>

<blockquote>"Well organized, resourceful, and informative. Thanks for the knowledge." - Lindsey T., Cook County</blockquote>

<blockquote>"This was BEYOND helpful. I am beyond in need of help and co no longer afford an attorney. I have actually had to represent myself and no my X is suing me for his fees. I cant even believe it! I am at my wits end" - user of Responding to a Petition for Rule to Show Cause</blockquote>

<blockquote>"The contents of this website ought to be offered as both a high school and a required college class. The information is what everyone needs to know. Thanks for all the hard work put into this and your current efforts." - Kat C.</blockquote>

<blockquote>"Thank you!!! This article was just what I have been searching and searching for: and updated, succinct and clear explanation of creditors and forced sales of property in Illinois. I especially appreciated the examples!!! Bless you!" - user of Judgement Liens and Enforcement of Judgments Against Real Estate</blockquote>

</div>
